## Last commit: 2026-09-25 01:10:48 UTC by root
version 26.2R1.7;
system {
    host-name sa-cr-1;
    root-authentication {
        encrypted-password "$6$UQCSVUVj$J5dKxgUTpmKjCx6f2NmsPAwI9fdCMHJWA5weJwYfti8AtT1YmkPjanqtSRUPkCniJ0bnC1xVyM5LoBRT97SUW0"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login allow;
        }
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        description to_sa-fw-1_ge-0/0/2;
        unit 0 {
            family inet {
                address 192.168.1.2/30;
            }
        }
    }
    ge-0/0/1 {
        description to_sa-cr-2_ge-0/0/1;
        unit 0 {
            family inet {
                address 192.168.0.1/30;
            }
        }
    }
    ge-0/0/2 {
        description to_sa-seg1;
        unit 0 {
            family inet {
                address 192.168.100.2/24 {
                    vrrp-group 1 {
                        virtual-address 192.168.100.1;
                        priority 150;
                        accept-data;
                    }
                }
            }
        }
    }
    ge-0/0/3 {
        description to_sa-seg2;
        unit 0 {
            family inet {
                address 192.168.200.2/24 {
                    vrrp-group 2 {
                        virtual-address 192.168.200.1;
                        priority 150;
                        accept-data;
                    }
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 192.168.23.115/24;
            }
        }
    }
}
protocols {
    ospf {
        area 0.0.0.10 {
            interface ge-0/0/0.0 {
                interface-type p2p;
            }
            interface ge-0/0/1.0 {
                interface-type p2p;
            }
            interface ge-0/0/2.0 {
                passive;
            }
            interface ge-0/0/3.0 {
                passive;
            }
        }
    }
}

