## Last commit: 2026-09-25 00:54:01 UTC by root
version 26.2R1.7;
system {
    host-name sa-br-1;
    root-authentication {
        encrypted-password "$6$UQCSVUVj$J5dKxgUTpmKjCx6f2NmsPAwI9fdCMHJWA5weJwYfti8AtT1YmkPjanqtSRUPkCniJ0bnC1xVyM5LoBRT97SUW0"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login allow;
        }
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        description to_sc-br-1_ge-0/0/1;
        unit 0 {
            family inet {
                address 172.32.0.2/30;
            }
        }
    }
    ge-0/0/1 {
        description to_sb-br-1_ge-0/0/0;
        unit 0 {
            family inet {
                address 172.32.1.1/30;
            }
        }
    }
    ge-0/0/2 {
        description to_sa-br-2_ge-0/0/2;
        unit 0 {
            family inet {
                address 172.16.0.1/30;
            }
        }
    }
    ge-0/0/3 {
        description to_sa-fw-1_ge-0/0/1;
        unit 0 {
            family inet {
                address 172.16.1.1/30;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 192.168.23.111/24;
            }
        }
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.0 {
                interface-type p2p;
            }
            interface ge-0/0/1.0 {
                interface-type p2p;
            }
        }
        area 0.0.0.10 {
            interface ge-0/0/2.0 {
                interface-type p2p;
            }
            interface ge-0/0/3.0 {
                interface-type p2p;
            }
        }
    }
}
